*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caveat-Caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family:"caveat";
}

.Navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#logo{
    padding: 0.5em;
}

.navbuttons{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    padding: 1em;
    gap: 1em;
    border: 1px solid;
    border-radius: 3em;
}

.bannerContain {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-image: url(./images/artworkshop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    color: #fff;
    text-shadow: 2px 2px 4px black;
    flex-direction: column;
}

.verkstedButton{
    border: 4px solid;
    padding: 0.2em;
    border-radius: 1em;
    text-decoration: none;
    color: white;
    border-color: black;
    background-color: black;
}
.aboutWrap{
    display: flex;
    justify-content: space-between;
}

.aboutUs{
    width: 25em;
}

.aboutWrap img{
    display: flex;
    width: 20em;
    border: 1px solid;
    margin-right: 10px;
}

.tjenester{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tjenesteCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10%;
}

.tjenesteBlock1{
    border: 1px solid;
    padding: 1em;
    border-radius: 3em;
}
.tjenesteBlock2{
    border: 1px solid;
    padding: 1em;
    border-radius: 3em;
}
.tjenesteBlock3{
    border: 1px solid;
    padding: 1em;
    border-radius: 3em;
}

#mosaikk{
    background-image: url(./images/mosaik.avif);
    height: 10em;
    background-size: cover;
    align-content: flex-end;
    min-width: 0;
    color: #fff;
    text-shadow: 2px 2px 4px black;
}
#akvarell{
    background-image: url(./images/akvarell.avif);
    height: 10em;
    background-size: cover;
    align-content: flex-end;
    min-width: 0;
    color: #fff;
    text-shadow: 2px 2px 4px black;
}
#Lerret{
    background-image: url(./images/lerret.avif);
    height: 10em;
    background-size: cover;
    align-content: flex-end;
    min-width: 0;
    color: #fff;
    text-shadow: 2px 2px 4px black;
}

.tilbakeMeldCont{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    align-items: center;
}

#workshopLogo{
    display: flex;
    justify-content: center;
    border: 1px solid;
}

.bookCont{
    display: flex;
    justify-content: center;
    border: 1px solid;
    align-items: center;
    height: 20em;
    font-size: 2em;
    text-align: center;
}


.book1{
    border: 1px solid;
    border-radius: 10px 0em 0em 10px;
    width: 10em;
    height: 14em;
}
.book1 img{
    width: 9.99em;
    height: 8em;
}
.book2{
    border: 1px solid;
    width: 10em;
    height: 14em;
}
.book2 img{
    width: 9.99em;
    height: 8em;
    object-fit: cover
}
.book3{
    border: 1px solid;
    width: 10em;
    height: 14em;
    text-align: center;
    border-radius: 0em 10px 10px 0em;
}
.book3 img{
    width: 9.99em;
    height: 8em;
    object-fit: cover;
}

#pris{
    text-align: start;
}

#beskriv{
    font-size: 0.8em;
    text-align: start;
}

#bestill{
    display: flex;
    justify-content: center;
}

#bestillForm{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tilbakeMeldForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tilbVis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5em;
}
.tilb1{
    border: 3px solid;
    border-radius: 1em;
    width: 20em;
}
.tilb2{
    border: 3px solid;
    border-radius: 1em; 
    width: 20em;
}
.tilb3{
    border: 3px solid;
    border-radius: 1em;
    width: 20em;
}

#oldpfp{
    width: 2em;
    height: 2em;
    border-radius: 100%;
}
#mompfp{
    width: 2em;
    height: 2em;
    border-radius: 100%;
}
#manpfp{
    width: 2em;
    height: 2em;
    border-radius: 100%;
}

.logoCont{
    display: flex;
    justify-content: center;
}

.gallImgWrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    column-gap: 1em;
    place-items: center;
}

#Gall1{
    width: 20em;
    height: 20em;
    flex: 1 1 (20em);
}
#Gall2{
    width: 20em;
    height: 20em;
    flex: 1 1 (20em);
}
#Gall3{
    width: 20em;
    height: 20em;
    flex: 1 1 (20em);
}
#Gall4{
    width: 20em;
    height: 20em;
    flex: 1 1 (20em);
}
#Gall5{
    width: 20em;
    height: 20em;
    flex: 1 1 (20em);
}
#Gall6{
    width: 20em;
    height: 20em;
    flex: 1 1 (20em);
}

.footCont{
    display: flex;
    justify-content: center;
    height: 20em;
    align-items: center;
    gap: 2em;
}

.footerSocial{
    display: flex;
    flex-direction: column;
    height: 80%;
    border: 1px solid;
    width: 40%;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#socialList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.kontaktCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    height: 80%;
    width: 30%;
    list-style: none;    
}

.KundeCont ul{
    list-style: none;
}